.container{
    width: 100%;
    height: 100vh;
    background-color: #f9f9f9;
    display: flex;
}
.sidebar{
    width: auto;
    height: 100%;
}
.main_cont{
    width: auto;
     height: 100%;
     display: flex;
     flex-direction: column;
}